/* Empty. Add your own CSS if you like */

.center{
    text-align: center;
}

.margin{
    margin-top: 15px;
}

.detail-card{
    background-color: #567FBB;
    padding-top: 10px;
}

.subtitle-text{
    padding-right: 50px;
    padding-top: 10px;
    font-weight: 400;
}

.name-text{
    font-weight: 300;
    color:  #ECF0F4;
}

.card-if{
    background-color: #6095D4;
    text-align: center;
}

.card-if-text{
    color: #ECF0F4;
}